:root {
  font-family: "Archivo", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  background-color: #121214;
  z-index: 0;
  position: relative;
  width: 100%;
  height: 368px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
  margin: 0;
  height: 100vh;

  min-height: 100vh;
  background: linear-gradient(to bottom, #121214 368px, #ececec 368px);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 736px;
  margin-bottom: 19px;
  color: white;
  margin-top: 184px;
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 11px;
}

header p {
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 19px;
}

form {
  padding-top: 64px;
  width: 736px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 229px;
}

form div {
  background-color: #f0f0f4;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  width: 736px;
  border-top: #d6d6d6 solid 1px;
  border-radius: 0 0 8px 8px;
}

h2 {
  margin-left: 64px;
  margin-right: 64px;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

label {
  margin-left: 64px;
  margin-right: 64px;
  display: block;
  margin-bottom: 8px;
}

hr {
  margin-left: 64px;
  margin-right: 64px;
  border: none;
  height: 2px;
  margin-bottom: 24px;
  background-color: #e6e6f0; /* Escolha a cor desejada */
}

input {
  padding-left: 16px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 24px;
  border-radius: 8px;
  height: 56px;
  width: 608px;
  border: 1px solid #e6e6f0;
}

textarea {
  padding-left: 16px;
  padding-top: 12px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 64px;
  height: 168px;
  width: 608px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

button {
  background-color: #db1b1b;
  border-radius: 8px;
  text-align: center;
  display: block;
  color: white;
  border: none;
  padding: 15px 40px;
  height: 56px;
  width: 608px;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}
